header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
header nav a {
    margin: .3rem;
}
.logo1 {
    width: 15rem;
}

.user-panel-control {
display: flex;
align-items: center;
}
.user-panel-control img {
    width: 5rem;
    border-radius: 100%;
    margin: .5rem;
}
.user-panel-control input {
    border-radius: .5rem;
    background-image: url(https://static.thenounproject.com/png/2042439-200.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 2rem;
    padding-right: 10%;
}
.user-panel-control i {
    font-size: 2rem;
    margin: .7rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:98%;
    border: 1px solid ;
    border-radius: 1rem;
    aspect-ratio: 2/1;
    margin: auto;
    padding:1rem;
    background-image: url(https://static.bandainamcoent.eu/high/adventure-time/adventure-time-pote/02-screenshots/1-announcement/adventure-time-pote_announcement%20%281%29.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
}
h1 {
    color: black;
    margin-top: 0px;
}
.user-rating i {
    color:red;
    font-size: 1rem;
}
.user-rating span {
    margin right:.3rem;
}
.color-gray {
    color:gray
}
.yas-siniri {
    border:1px solid black;
    border-radius: .3rem;
    padding: .2rem;
    margin: 2.rem;
}
.movie-details {
    font-weight: bold;
}
.movie-details span {
    color: red;
}
.movie-details ul {
    padding-inline-start: 0%;
}
.movie-details li {
    list-style-type: none;
}
.btn {
    background: red;
    color:white;
    border: 1px solid #920202;
    display: inline-block;
    cursor: pointer;
}
.btn-lg {
    font-size: 1.2rem;
    padding: .6rem 2rem;
    border-radius: .5rem;
}
.btn-md {
    font-size: 1rem;
    padding: .5rem 1.5rem;
    border-radius: .4rem;
}


.suggestion-panel {
    margin-bottom: 2rem;
}
.movie-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.movie-header h2,.movie-header p {
    font-size: 1.1rem;
    font-weight: bold;
}
.movie-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.movie-card {
    width: 30%;
    aspect-ratio: 3/2;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .7rem;
    padding: .5rem;
}
.movie-card h3 {
    margin: 0px;
}
.movie-card1 {
    background-image: url(https://m.media-amazon.com/images/S/pv-target-images/bbca96c56e5699e6d543908d1c6f22817b6c0d2b72ca00cf9f048e0c1be25583._SX1080_FMjpg_.jpg);
    background-size:cover;
}
.movie-card2 {
    background-image: url(https://assets.teenvogue.com/photos/5beb34096029df2db3813b6d/4:3/w_1528,h_1146,c_limit/tout.jpg);
    background-size:cover;
}
.movie-card3 {
    background-image: url(https://i.pinimg.com/736x/60/2a/57/602a577b1d5f29f7894f3e08d1513aef.jpg);
    background-size:cover;
}
.movie-card4 {
    background-image: url(https://static1.srcdn.com/wordpress/wp-content/uploads/2020/10/ed-edd-n-eddy.jpg);
    background-size:cover;
}
.movie-card5 {
    background-image: url(https://ti-content-global.cdn.turner.com/PROD-APAC/C_REGSHO_01002395_MEI_TUR/C_REGSHO_01002395_MEI_TUR_VIDSCREENSHOT.jpg);
    background-size:cover;
}
.movie-card6 {
    background-image: url(https://media.bantmag.com/wp-content/uploads/2017/01/samurai.jpg);
    background-size:cover;
}
footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
footer nav {
    display: flex;
    gap: 1rem;
}
.social-media p, .app-store p {
    margin-top: 0px;
}
.social-media img, .app-store img {
    height: 3rem;
    border-radius: .3rem;
}
.social-media div, .app-store div  {
    display: flex;
    gap:1rem;
}